node_modules/
package-lock.json
.DS_Store

# 测试
# qiniu.config.json是放置AccessKey和SecretKey的配置文件
# 格式与qiniu.config.default.json相同，你需要配置你的qiniu.config.json
test/resource/qiniu.config.json
test/resource/processing.test.jpg
test/resource/qrcode.test.png